#sidebar-toggle {
    font-size: x-large;
    padding: 0 15px;
    cursor: pointer;
}

#sidebar-toggle {
    transition: all .2s ease;
}

#sidebar-toggle.rotate {
    transform: rotateY(180deg);
    transition: all .2s ease;
}