a, a:hover {
    text-decoration: none;
}

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    flex: none;
    height: 100vh;
    background: #1d1e23;
}

.inside-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #f5f7f9;
}

.header {
    position: sticky;
    top: 0;
    height: 64px;
    width: 100%;
    box-shadow: 0 0 6px 3px rgba(53, 64, 82, 0.1);
}

.content {
    padding: 24px;
}

.footer {
    background: #fff;
    margin-top: auto;
    border-top: 1px solid #dee2e6;
    padding: 12px 24px;
}

.brand {
    display: flex;
    padding: 0 24px;
    align-items: center;
    border-bottom: 1px solid #101117;
    height: 64px;
    flex: none;
    color: #fff;
    font-size: 1.15rem;
}

.brand:hover {
    color: #fff;
}

#sidebar-menu {
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar-menu ul {
    margin: 0;
    padding: 0;
}

.sidebar-group-title {
    display: block;
    padding: 12px 24px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-size: 14px;
}

.sidebar-group-title span {
    padding-left: 0.5rem;
    display: inline-block;
    overflow: hidden;
    width: 8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: all .2s ease;
}

#sidebar-menu li {
    list-style: none;
    padding: 0;
}

.sidebar-group-title:hover, .sidebar-item:hover {
    background: #101117;
    color: #fff;
}
