{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}主页{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/layout.css' %}" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
</head>

<body>
<div class="wrapper">
    {# 侧边导航 #}
    <aside class="sidebar">
        {% include 'layout/sidebar.html' %}
    </aside>
    <div class="inside-wrapper">
        {# 头部导航 #}
        <header class="header">
            {% include 'layout/header.html' %}
        </header>
        {# 主体内容 #}
        <main class="content">
            {% block content %}Content{% endblock %}
        </main>
        {# 脚部 #}
        <footer class="footer">
            {% block footer %}Footer{% endblock %}
        </footer>
    </div>
</div>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>