{% load static %}
<link href="{% static 'css/sidebar.css' %}" rel="stylesheet">

<a href="#" id="brand">
    <img src="{% static 'images/logo.png' %}" alt="" width="50px" height="50px">
    <span>LOGO</span>
</a>
<div class="accordion" id="sidebar-menu">
    <div class="sidebar-group">
        <a href="#" class="sidebar-group-title">
            <i class="fa fa-envelope-open fa-fw title-icon"></i>
            <span>非折叠菜单</span>
        </a>
    </div>

    <div class="sidebar-group">
        <div class="sidebar-group-title" data-toggle="collapse" data-target="#group-1">
            <i class="fa fa-bath fa-fw title-icon"></i>
            <span>菜单组1</span><i class="fa fa-angle-down fa-fw title-arrow"></i>
        </div>
        <div id="group-1" class="collapse menu-items" data-parent="#sidebar-menu">
            <a class="sidebar-menu-item" href="#"><span>menu1-1</span></a>
            <a class="sidebar-menu-item" href="#"><span>menu1-2</span></a>
            <a class="sidebar-menu-item" href="#"><span>menu1-3</span></a>
        </div>
    </div>

    <div class="sidebar-group">
        <div class="sidebar-group-title" data-toggle="collapse" data-target="#group-2">
            <i class="fa fa-heartbeat fa-fw title-icon"></i>
            <span>菜单组2</span><i class="fa fa-angle-down fa-fw title-arrow"></i>
        </div>
        <div id="group-2" class="collapse menu-items" data-parent="#sidebar-menu">
            <a class="sidebar-menu-item" href="#"><span>menu2-1</span></a>
            <a class="sidebar-menu-item" href="#"><span>menu2-2</span></a>
            <a class="sidebar-menu-item" href="#"><span>menu2-3</span></a>
        </div>
    </div>
</div>
