{% extends 'base.html' %}

{% block title %}用户信息{% endblock %}
{% block content %}
    <div class="bg-white w-50 mx-auto mt-5 p-3 shadow-sm">
        <h1>{{ user.username }}</h1>
        <div><pre>{{ user_profile.tags|default:'这家伙很懒，什么都没写' }}</pre></div>
        <hr/>
        {% include 'messages.html' %}
        <div class="form-group row">
            <label class="col-3 text-right">昵称：</label>
            <div class="col-9">{{ user.first_name}}</div>
            <label class="col-3 text-right">邮箱：</label>
            <div class="col-9">{{ user.email }}</div>
            <label class="col-3 text-right">性别：</label>
            <div class="col-9">{{ user_profile.get_gender_display }}</div>
            <label class="col-3 text-right">出生日期：</label>
            <div class="col-9">{{ user_profile.birth }}</div>
            <label class="col-3 text-right">手机号码：</label>
            <div class="col-9">{{ user_profile.mobile }}</div>
            <label class="col-3 text-right">地址：</label>
            <div class="col-9">{{ user_profile.address }}</div>
        </div>
        <hr/>
        <div class="d-flex">
            <a href="{% url 'user:edit_profile' %}" class="ml-auto">
                <button class="btn btn-link">编辑</button>
            </a>
        </div>
    </div>
{% endblock %}