{% load static %}
<link href="{% static 'css/header.css' %}" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light bg-white h-100 p-0">
    <div id="sidebar-toggle">
        <i class="fa fa-outdent fa-fw"></i>
    </div>
    <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#navbarHeader">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-white px-3" id="navbarHeader">
        {# 左边的菜单 #}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">链接1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">链接2</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                    下拉菜单
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline mx-4">
            <input class="form-control mr-2" type="search" placeholder="Search"/>
        </form>
        {# 右边的菜单 #}
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li>
                    <a class="nav-link" href="#">{{ user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:logout' %}?next={{ request.path }}">退出</a>
                </li>
            {% else %}
                <li class="nav-item">
                    {% if login_button_disabled %}
                        <a class="nav-link disabled">登录</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'user:login' %}?next={{ request.path }}">登录</a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </div>

</nav>